<h3>Welcome!</h3>
If this is your first time, welcome to <b>Harvest</b>! This query system allows you to search through a variety of different data pertaining to our biorepository. Below is a list of helpful tips to get you started and a description of the different categories available for exploration.
 <ul>
<li>Get started by searching or browsing through the menu on the left side of available clinical data and specimen type filters.</li>
<li>Once you have identified the data filter you would like to use for your query choose Apply Filters.</li>
<li>Next choose View Results to see your detailed report</li>
<li>On the results page you can add data points to your query by selecting Change Columns.</li>
<li>You can Save or Export the data from your  queries for future use</li>
</ul>
<script>
$.ajax({
    url: cilantro.data.fields.url + '18/values/'
}).done(function(data){
    page = data.num_pages;
    $.ajax({
        url: cilantro.data.fields.url + '18/values/?page='+ page
    }).done(function(data){
        d = new Date(Date.parse(data.values[data.values.length -1].value));
        $("#lastETL").text("Data as of " + d.toString());
    })
})
</script>
