{% extends "base.html" %}
{% load url from future %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="hero-unit">
                    <h1 class="heading">DBHi Demonstration Harvest</h1>
                    <h3>Data and Inventory System</h3>
                    <h4>Query and explore subject and sample data by clicking the "Explore" button below.</h4>
                    <a href="{% url 'query' %}" class="btn btn-primary">Explore</a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
